/*@font-face {
font-family:Product_Sans;src:url(https://hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_SemiBold.eot);
src:local('☺'),url(https://hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_SemiBold.eot?#iefix) format('embedded-opentype'),
url(https://hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_SemiBold.woff) format('woff'),
url(//hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_SemiBold.ttf) format('truetype');font-weight:700
}


@font-face {
	font-family:'TuPro Display';
	font-style:normal;
	font-weight:200;
	src:local('☺︎'), url("sf-pro-display_thin.woff") format("woff"), url("sf-pro-display_thin.ttf") format("truetype");
}

@font-face {
	font-family:'TuPro Display 200';
	src:url("sf-pro-display_thin.eot");
}

@font-face {
	font-family:'TuPro Display';
	font-style:normal;
	font-weight:300;
	src:local('☺︎'), url("sf-pro-display_light.woff") format("woff"), url("sf-pro-display_light.ttf") format("truetype");
}

@font-face {
	font-family:'TuPro Display 300';
	src:url("sf-pro-display_light.eot");
}

@font-face {
	font-family:'TuPro Display';
	font-style:normal;
	font-weight:400;
	src:url("sf-pro-display_regular.eot");
	src:local('☺︎'), url("sf-pro-display_regular.woff") format("woff"), url("sf-pro-display_regular.ttf") format("truetype");
}

@font-face {
	font-family:'TuPro Display';
	font-style:normal;
	font-weight:500;
	src:local('☺︎'), url("sf-pro-display_medium.woff") format("woff"), url("sf-pro-display_medium.ttf") format("truetype");
}

@font-face {
	font-family:'TuPro Display 500';
	src:url("sf-pro-display_medium.eot");
}

@font-face {
	font-family:'TuPro Display';
	font-style:normal;
	font-weight:600;
	src:local('☺︎'), url("sf-pro-display_semibold.woff") format("woff"), url("sf-pro-display_semibold.ttf") format("truetype");
}

@font-face {
	font-family:'TuPro Display 600';
	src:url("sf-pro-display_semibold.eot");
}

@font-face {
	font-family:'TuPro Display';
	font-style:normal;
	font-weight:700;
	src:local('☺︎'), url("sf-pro-display_bold.woff") format("woff"), url("sf-pro-display_bold.ttf") format("truetype");
}

@font-face {
	font-family:'TuPro Display 700';
	src:url("sf-pro-display_bold.eot");
}
*/